@import "https://unpkg.com/open-props";

html { scroll-snap-type: y mandatory; }

@keyframes scale-up { 0% { scale: 0; }

50% { scale: 1; }

100% { scale: 3; } }

.view { view-timeline: --view block; }

.box { animation: scale-up 1ms var(--ease-in-out-1) both; animation-timeline: --view; }

img { max-width: none !important; width: 100% !important; height: 100% !important; }
