.link {
  transition-duration: 500ms;
}

.link:hover {
  transform: scale(1.25);
  transition-duration: 500ms;
  box-shadow: 0 0 15px hsl(280, 20%, 20%, 0.5);
  filter: brightness(145%);
}

/* + 1 */
 .link:hover + .link {
  transform: scale(1.1);
  transition-duration: 1s;
  transition-delay: 0.05s;
 }


/* - 1 */
.link:has(+ .link:hover) {
  transform: scale(1.1);
  transition-duration: 1s;
  transition-delay: 0.05s;
}
