@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.focus\:ring-opacity-1:focus,
.hover\:ring-opacity-1:hover {
  --tw-ring-opacity: 1;
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed
}

.disabled\:bg-opacity-50:disabled {
  opacity: 0.5;
}

html.story body {
  @apply px-10 py-20;
  background-color: var(--vp-bg-alt);
}

.VPHomeHero .text {
  max-width: 12em;
}
