@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@shikijs/vitepress-twoslash/style.css';

.curtain {
  display: none !important;
}

.VPHomeHero .text {
  max-width: 14em;
}

.VPHomeHero .tagline {
  max-width: 34em;
}
